* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

/* Reset elemento a */
a {
	text-decoration: none;
	color: inherit;
}

/* Regola di Reset in css */
ul {
	list-style: none;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

.debug, .debug > * {
	padding: 8px;
	min-height: dashed #f00;
}

/* Le mie modifiche */

/* header */
.reel-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header-link {
	display: inline-block;
	padding: 0 10px;
	opacity: 0.5;
	position: relative;
}

.header-link.active, .header-link:hover {
	opacity: 1;
}

.header-link.active::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	translate: -50% 0;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background-color: white;

}

/* sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.reel-item:has(.follow-button) {
	position: relative;
	margin: 1rem;
}

.reel-item {
	cursor: pointer;
}

.follow-profile-pic-container {
	border: 2px solid white;
	overflow: hidden;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.follow-radius-pic {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

/* tasto follow */
.follow-button {
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50% 60%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	color: white;
	border-radius: 50%;
}

.reel-item-icon {
	font-size: 1.8rem;
}

/* tasto cuore */
.reel-item-text {
	display: block;
	font-size: 0.7rem;
}

/* footer */
.reel-infos {
	max-width: 70%;
	padding: 1rem;
}

.reel-author {
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}

.reel-description {
	font-size: 0.85rem;
}

/* nav */
.nav-menu {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: black;
	min-height: 70px;
}

.nav-menu > .menu-item {
	flex: 1 1 0;
	/* flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
} */
}

.reel-item-icon {
	font-size: 1.2rem;
}

/* tasto cuore */
.reel-item-text {
	font-weight: 300;
	display: block;
	font-size: 0.6rem;
}

.menu-item-icon-center {
	font-size: 1.6rem;
}

